{{!-- This template is always on screen while the user has your application loaded. --}}

{{page-title "Quickstart"}}

<h1>People Tracker</h1>

{{outlet}}

{{!-- {{outlet}} is the location that where routes will be rendered. --}}

{{!-- After adding this to your application create a new route with the ember-cli command
ember generate route scientists

This create the following,
-A template to be displayed when the user visits /scientists.
-A Route object that fetches the model used by that template.
-An entry in the application's router (located in app/router.js).
-A unit test for this route. --}}

{{!-- Open the newly-created template in app/templates/scientists.hbs --}}